header.header {
  background: var(--blue);
  padding-top: 2rem;
  
  > div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem 1rem 12rem;

    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      stroke: var(--background);
      margin-left: 2rem;
      transition: all 0.7s;
      &:hover{
        stroke: var(--text);
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }
}